body {background: lightgreen;}
h1{text-align: center;}
h1{color: dark blue;}
p{color: yellow;}
p{color: red;}
.tools{color: red; background: blue;}
.study{color:green; background: lightgreen;}
#green{color: green;}
#work{color: red;}
#brief{color: green;}
div#up {
	background-color: pink;
}
div#down{
	background-color: lightgreen;
}